:root{
    --azul : rgba(0,117,255,1);
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;

}

.contenedorvideo {
    width: 700px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2),0 0 60px 0 rgba(0,0,0,0.5);
    position: relative;


}

.controls{
    height:50px;
    width:100%;
    padding:5px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    bottom:0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#playback{
    -webkit-appearance: none;
    height:10px;
    width:80%;
    background-color:var(--azul);
    border-radius:5px;
    outline:none;
    border:0;
    margin:0 .5rem;

}


#playback::-webkit-slider-thumb {
    outline:none;
    border: 0;
    -webkit-appearance:none;
    height:20px;
    width:20px;
    border-radius:10px;
    cursor:pointer;
    background-color: white;
    transition:0.3s;
}

#playback:active::-webkit-slider-thumb {
 box-shadow: 0 0 0 5px rgba(255,255,255,0.3);

}

.timer{
    width:60px;
    text-align: center;
}

#iniciar {
width:25px;
border:0;
outline:none;
background: none;
font-size: 20px;
color: var(--azul);
margin: 0 .5rem;
cursor: pointer;
}