html , body {
    height: 100%;
}

body {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:brown;
}

.form {
    width:100%;
    max-width: 330px;
    padding:15px;
    margin: auto;
    text-align: center;
}


.form input.form-control {
    margin:10px 0;
}